asgiref==3.7.2
Django==5.0.10
django-cors-headers==4.3.1
django-permissions-policy==4.19.0
django_csp==3.8
djangorestframework==3.15.2
gunicorn==22.0.0
mssql-django==1.5
odata-query==0.10.0
packaging==24.2
pyodbc==5.2.0
python-dateutil==2.9.0.post0
pytz==2023.3.post1
six==1.17.0
sly==0.4
sqlparse==0.5.0
tzdata==2023.4
